.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .product-image {
    width: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.mycarousel {
  width: 800px;
  margin: auto;
}

:host ::ng-deep {
  .p-chip.blue-chip {
    background: rgb(13, 110, 253);
    font-size: 1em;
    font-weight: 700;
  }
  .p-chip.grey-chip {
    background: rgb(137, 118, 155);
    font-size: 0.8em;
    font-weight: 700;
  }
  .p-chip.green-chip {
    background: rgb(69, 165, 90);
    font-size: 0.95em;
    font-weight: 700;
  }
}
